body {
  padding: 0;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 375px;
}
.dados {
  width: 100%;
  padding: 20px 20px;
  background: linear-gradient(
    180deg,
    RGBA(48, 50, 75, 1) 0%,
    RGBA(38, 39, 57, 1) 100%
  );
  color: #fff;
}
.matrix {
  display: flex;
  justify-content: space-around;
  padding-right: 20px;
  align-items: center;
}
.img {
  display: flex;
  border-radius: 65px;
  margin: 0px;
}
.container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 70%;
}
.usuario {
  display: flex;
  align-items: left;
}
.id_user {
  display: flex;
}
.botao {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  width: 10%;
}
button {
  /* border-radius: 8px; */
  width: 70px;
  height: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}
button:hover {
  background-color: #cfcfcf;
}
